
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sneaky</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/jQuery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>


  </head>

  <body>

      <!-- Begin page content -->
      <div class="container">
        <div class="header">
          <h1>Sneaky</h1>
        </div>

        <section id='sneaker-form' class="container">
         <div class="row">
           <div class="col-md-10 col-md-offset-1">

             <form class="form-horizontal">
               <fieldset>

                 <!-- Form Name -->
                 <legend>Add New Sneaker</legend>

                 <!-- Text input-->
                 <div class="form-group">
                   <label class="col-md-4 control-label" for="brand">Brand</label>
                   <div class="col-md-4">
                   <input id="sneakerBrand" name="sneakerBrand" type="text" placeholder="" class="form-control input-lg" required="">

                   </div>
                 </div>

                 <!-- Text input-->
                 <div class="form-group">
                   <label class="col-md-4 control-label" for="style">Style</label>
                   <div class="col-md-4">
                   <input id="sneakerStyle" name="sneakerStyle" type="text" placeholder="" class="form-control input-lg">

                   </div>
                 </div>

                 <!-- Text input-->
                 <div class="form-group">
                   <label class="col-md-4 control-label" for="releaseDate">Release Date</label>
                   <div class="col-md-4">
                   <input id="releaseDate" name="releaseDate" type="text" placeholder="1999" class="form-control input-lg">

                   </div>
                 </div>

                 <div class="form-group">
                   <label class="col-md-4 control-label" for="price">Price</label>
                   <div class="col-md-4">
                   <input id="price" name="price" type="text" placeholder="$100" class="form-control input-lg">

                   </div>
                 </div>

                 <!-- Button -->
                 <div class="form-group">
                   <label class="col-md-4 control-label" for="singlebutton">Save Sneaker</label>
                   <div class="col-md-4">
                     <button id="singlebutton" name="singlebutton" class="btn btn-danger">Submit</button>
                   </div>
                 </div>
               </fieldset>
             </form>
           </div>
         </div>
        </section>




      </div>

      <section class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Sneakers</h2>
          </div>
        </div>
        <!-- sneakers -->
        <div id='sneakers'>
          <script id="sneaker-template" type="text/x-handlebars-template">
            <!-- one sneaker -->
            <div class="row sneaker" data-sneaker-id="{{_id}}">

              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">

                    <!-- begin sneaker internal row -->
                    <div class='row'>
                      <div class="col-md-3 col-xs-12 thumbnail album-art">
                        <!-- <img src="http://cdn.sneakernews.com/wp-content/uploads/2015/12/air-jordan-1-bred-releasing-fall-2016.jpg" alt="sneaker image"> -->
                      </div>

                      <div class="col-md-9 col-xs-12">

                        <ul class="list-group">

                            <li class="list-group-item">
                              <h4 class='inline-header'>Brand:</h4>
                              <span class='shoe-brand'>{{sneakerBrand}}</span>
                            </li>

                            <li class="list-group-item">
                              <h4 class='inline-header'>Style :</h4>
                              <span class='shoe-style'>{{sneakerStyle}}</span>
                            </li>

                            <li class="list-group-item">
                              <h4 class='inline-header'>Release Date :</h4>
                              <span class='shoe-release-date'>{{releaseDate}}</span>
                            </li>

                            <li class="list-group-item">
                              <h4 class='inline-header'>Price :</h4>
                              <span class='shoe-price'>{{price}}</span>
                            </li>

                            <li class="list-group-item">
                              <h4 class="inline-header">Sizes :</h4>
                              <span class="sneaker-size">{{#each size}} {{size}} , {{/each}}</span>
                            </li>

                        </ul>
                    </div>

                  </div>

              </div>
                <div class='panel-footer'>
                    <div class='panel-footer'>
                      <button class='btn btn-danger add-size'>Add Size</button>
                      <button type="button" class="btn btn-danger delete-sneaker">Remove Sneaker</button>
                    </div>
                </div>
            </div>
          </div>
          <!-- end one piece of data -->
        </div>
      </script>
    </div>
  </section>

      <footer class="footer">
        <div class="container">
          <p class="text-muted">Sneaky 2016</p>
        </div>
      </footer>

      <div class="modal fade" tabindex="-1" role="dialog" id="sizeModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Add Size</h4>
                </div>
                <div class="modal-body">

                  <fieldset class='form-horizontal'>

                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-md-4 control-label" for="size">Size</label>
                      <div class="col-md-4">
                        <input id="sneakerSize" name="sneakerSize" type="text" placeholder="" class="form-control input-md" required="">
                      </div>
                    </div>

                  </fieldset>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="saveSize">Save changes</button>

                </div>
              </div>
            </div>
          </div>





    </body>
</html>
