@import url(https://fonts.googleapis.com/css?family=Marvel);

html {
  position: relative;
  min-height: 100%;

}
body {
  /* Margin bottom by footer height */
  font-family: 'Marvel', sans-serif;
  margin-bottom: 60px;
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.71)), url(img/bg.jpeg);
  background-size: cover;
  background-position: center;
  color: #fff;
  min-width: 100%;
  min-height: 100%;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #7f8c8d;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.text-muted {
  color: #000;
}

.data {
  color: #000;
}
.hidden{
  display: none;
}
